/* General Styles */
body {
  background-color: #121212; /* Dark background for dark mode */
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

h1 {
  color: #007bff;
}

/* Input Fields and Button Styles */
.input-field,
#sendButton {
  margin: 5px;
  padding: 10px;
  border: 1px solid #333;
  background: #252525; /* Dark input fields */
  color: white; /* Light text */
  border-radius: 4px;
}

#sendButton {
  background-color: #28a745;
  color: white;
  border-color: #28a745;
  cursor: pointer;
}

#sendButton:hover {
  background-color: #218838;
}

/* Chat Messages Container */
#messages {
  background-color: #1e1e1e; /* Darker background for the message area */
  border: 1px solid #333;
  padding: 10px;
  margin-top: 20px;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Message Container */
.message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the end for sent messages */
  margin-bottom: 10px;
}

/* Sent and received Messages */
#messages .sent-message,
#messages .received-message {
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
}

.sent-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  margin: 5px 0;
}

.received-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  margin: 5px 0;
}

.received-message {
  background-color: #333; /* Gray background for received messages */
}

.sent-message {
  background-color: #007bff; /* Blue background for sent messages */
}

/* Message Status */
.message-status {
  font-size: 0.75rem;
  color: gray;
  opacity: 1;
  transition: opacity 0.2s ease;
}
